<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<h2><%= link_to 'Update', edit_article_path(@article) %></h2>

<h2><%= link_to 'Go back', articles_path %></h2>
